<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do List</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h2 style="text-align: center" class="heading">To-Do List</h2>

    <form action="/todo/new" class="container">
      <button class="blue-btn-z1">Add New To-Do</button>
    </form>
    <div class="container">
      <% for(let todo of Todos) {%>
      <div class="todoBox">
        <p class="task"><%=todo.task%></p>
        <div class="buttons">
          <form action="/todo/<%= todo._id %>/edit" method="get">
            <button class="blue-btn">Edit</button>
          </form>
          <form action="/todo/<%= todo._id %>?_method=DELETE" method="post">
            <button class="red-btn">Delete</button>
          </form>
        </div>
        <div class="buttons">
          <p><%=todo.created_at.toString().split(" ")[4] %></p>
          <p>
            <%= todo.created_at.toString().split(" ").slice(0,4).join(" ") %>
          </p>
        </div>
      </div>
      <% } %>
    </div>
  </body>
</html>
